body {
    margin: 0;
    display: flex;
    padding: 0;
    box-sizing: border-box;
}

aside {
    width: 10%;
}

main {
    width: 90%;
}

.cat{
    width: 100%;
}

.hidden{
    display: none;
}

.clicker-cat {
    width: 100%;
}
